/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES SASS ===============*/

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /*
          Purple: hsl(250, 66%, 75%)
          Blue: hsl(215, 90%, 72%)
          Pink: hsl(356, 66%, 75%)
          Teal: hsl(174, 63%, 62%)
    */
$first-hue: 620;
$sat: 66%;
$lig: 75%;
$second-hue: 219;
$third-hue: 215;
$first-color: hsl($first-hue, $sat, $lig);
$first-color-alt: hsl($first-hue, $sat, 51%); /* -4% */
$second-color: hsl($third-hue, 90%, $lig);
$title-color: hsl($second-hue, 15%, 95%);
$text-color: hsl($second-hue, 8%, 75%);
$text-color-light: hsl($second-hue, 4%, 55%);
$body-color: hsl($second-hue, 48%, 8%);
$container-color: hsl($second-hue, 32%, 12%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
$body-font: 'Poppins', sans-serif;
$biggest-font-size: 1.75rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
$tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
$font-medium: 500;
$font-semibold: 600;
  

  
  
  /* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
      $biggest-font-size: 2.5rem;
      $h1-font-size: 2.25rem;
      $h2-font-size: 1.5rem;
      $h3-font-size: 1.25rem;
      $normal-font-size: 1rem;
      $small-font-size: .875rem;
      $smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::after, *::before {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  background-color: $body-color;   
  color: $text-color;
  transition: .4s; 
}

h1, h2, h3 {
  color: $title-color;
  font-weight: $font-semibold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}